<!-- Arquivo: templates/users/login.html -->

{% extends "base.html" %} 
{% load staticfiles %}

{% block content %}

{% if form.errors %}
<p>Usuario ou senha incorretos. Tente Novamente.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Sua conta não acesso. Entre com login que tem acesso.</p>
    {% else %}
    <p>Faça login para acessar.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Perdeu a senha?</a></p>

{% endblock %}