{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="py-5 text-white opaque-overlay" style="background-image: url({% static '/img/anuncios.jpeg' %})">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 class="text-gray-dark">Anuncios</h1>
                    <p class="lead mb-4">Veja aqui seus anuncios cadastrados</p>
                </div>
            </div>
        </div>
    </div>

    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th>like</th>
            <th></th>
        </tr>

        {% for anuncio in anuncios %}
            <tr>
            <td>{{ anuncio.id }} </td>
            <td>{{ anuncio.description }} </td>
            <td>{{ anuncio.category }} </td>
            <td>{{ anuncio.price }}</td>
            <td>{{ anuncio.like }}</td>
            <td><a href="{% url 'likebuyevent' %}" class="btn btn-gray"
                   style="background-image: url({% static '/img/Ei-like.svg.png' %})"></a></td>


        {% endfor %}
        </tr>
    </table>
{% endblock %}
