{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              type="text/css">
        <link rel="stylesheet" href="/css/produtos.css"
              type="text/css">
        <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
                integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
                crossorigin="anonymous"></script>
        <title>Quero Preco</title>

    {% endblock head %}
</head>
{% block content %}
    <body>

    <div class="py-5 text-center "
    <!--style="background-image: url({% static 'img/anuncios.jpeg' %})" -->
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3 mb-4">Anuncios</h1>
                <p class="lead mb-5">Veja suas ofertas publicadas.
                    <br>fique atento no seu email, ao encontrarmos um empresa, enviaremos um email</p>

                {% if user.is_authenticated %}
                    <p class="lead mb-5">Olá {{ user.first_name }} seja bem-vindo!</p>
                {% else %}
                    <p class="lead mb-5">Parece que você ainda não fez login no site!</p>
                {% endif %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for anuncio in anuncios %}

                    <div class="col-xs-12 col-md-6">
                        <!-- First product box start here-->
                        <div class="prod-info-main prod-wrap clearfix">
                            <div class="row">
                                <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="product-image">
                                        <img src="{{ MEDIA_ROOT }}{{ anuncio.photo }}" alt="194x228" class="img-responsive">
                                        <span class="tag2 sale">Oferta</span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12 col-xs-12">
                                    <div class="product-deatil">
                                        <h5 class="name">
                                            <a href="#">
                                                {{ anuncio.name }}<span>{{ anuncio.category }}</span>
                                            </a>
                                        </h5>
                                        <p class="price-container">
                                            <span>{{ anuncio.price }}</span>
                                        </p>
                                        <span class="tag1"></span>
                                    </div>
                                    <div class="description">
                                        <p> {{ anuncio.name }}</p>
                                    </div>
                                    <div class="product-info smart-form">
                                        <div class="row">
                                            <div class="col-md-12">

                                                {% if user.is_authenticated %}
                                                   {% if customer.is_customer == 'V' %}
                                                    <a href="javascript:void(0);" class="btn btn-primary">Eu Vendo Isso
                                                        hein!</a>
                                                    <a href="javascript:void(0);" class="btn btn-primary">Fazer
                                                        Contra-proposta</a>
                                                {% else %}

                                                        <a href="javascript:void(0);" class="btn btn-primary">Editar
                                                            Anuncio</a>
                                                        <a href="javascript:void(0);" class="btn btn-primary">Verificar
                                                            Propostas</a>
                                                   {% endif %}
                                                {% endif %}

                                            </div>
                                            <div class="col-md-12">
                                                <div class="rating">  {{ anuncio.like }}
                                                    <label for="stars-rating-5"><i
                                                            class="fa fa-star text-danger"></i></label>
                                                    <label for="stars-rating-4"><i
                                                            class="fa fa-star text-danger"></i></label>
                                                    <label for="stars-rating-3"><i
                                                            class="fa fa-star text-danger"></i></label>
                                                    <label for="stars-rating-2"><i
                                                            class="fa fa-star text-warning"></i></label>
                                                    <label for="stars-rating-1"><i
                                                            class="fa fa-star text-warning"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end product -->
                    </div>
                {% endfor %}

    </body>
{% endblock content %}
</html>